h1 {
  text-transform: capitalize;
}
#title {
  font-size: 4rem;
}
.columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 4vmin;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3vmin;
  padding: 3vmin 0 7vmin 0;
}

.logo {
  height: 12vmin;
  filter: none;
  margin: none;
}

#filter { 
  width: 6vw;
  text-transform: capitalize; 
}

.dropdown-content {
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3vmin;
  }

  #filter {
    width: fit-content;
    text-transform: capitalize;
  }

}
